xsd/internal/persite_collectives/collectives_slugs_tags.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_StackExchange_ns="http://www.convertigo.com/convertigo/projects/lib_StackExchange" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_StackExchange">
    <xsd:element name="persite_collectives__collectives_slugs_tags" type="lib_StackExchange_ns:persite_collectives__collectives_slugs_tagsRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Get tags identified by a set of slugs.
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="persite_collectives__collectives_slugs_tagsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_StackExchange_ns:persite_collectives__collectives_slugs_tagsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="persite_collectives__collectives_slugs_tagsResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_StackExchange_ns:persite_collectives__collectives_slugs_tagsResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives__collectives_slugs_tagsRequestData">
        <xsd:sequence>
            <xsd:element name="site" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filter" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="page" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pagesize" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fromdate" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="todate" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="min" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sort" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="slugs" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_has_moreType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_descriptionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_links_object_linkType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_links_object_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_links_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="link" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_links_object_linkType"/>
            <xsd:element minOccurs="0" name="type" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_links_object_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_linksType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_links_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_linkType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_slugType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_tags_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_tagsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_tags_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="description" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_descriptionType"/>
            <xsd:element minOccurs="0" name="external_links" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_external_linksType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_linkType"/>
            <xsd:element minOccurs="0" name="name" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_nameType"/>
            <xsd:element minOccurs="0" name="slug" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_slugType"/>
            <xsd:element minOccurs="0" name="tags" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_object_tagsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_collectivesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectives_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_countType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_has_synonymsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_is_moderator_onlyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_is_requiredType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_items_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="collectives" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_collectivesType"/>
            <xsd:element minOccurs="0" name="count" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_countType"/>
            <xsd:element minOccurs="0" name="has_synonyms" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_has_synonymsType"/>
            <xsd:element minOccurs="0" name="is_moderator_only" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_is_moderator_onlyType"/>
            <xsd:element minOccurs="0" name="is_required" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_is_requiredType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="name" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_object_nameType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_itemsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_items_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_quota_maxType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_object_quota_remainingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives_collectives_slugs_tags_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="has_more" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_has_moreType"/>
            <xsd:element minOccurs="0" name="items" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_itemsType"/>
            <xsd:element minOccurs="0" name="quota_max" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_quota_maxType"/>
            <xsd:element minOccurs="0" name="quota_remaining" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_object_quota_remainingType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="persite_collectives__collectives_slugs_tagsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="lib_StackExchange_ns:persite_collectives_collectives_slugs_tags_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_StackExchange_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_StackExchange_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_StackExchange_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
